@page "/fictionSearch"
@using BooksAPI_Server.Models
@using BooksAPI_Server.Services
@inject OpenLibraryService openLibraryService
<BooksAPI_Server.Components.BookModal @ref="Modal"></BooksAPI_Server.Components.BookModal>

<div class="container-fluid">
    <div class="row">
        <h3 class="col-12 p-2">Search Fiction</h3>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <input type="text" placeholder="Search Title" @bind-value="title"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-2">
            <input type="text" placeholder="Search Author" @bind-value="author"/> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 pt-2">
            <h6 class="fw-bold">Published between years:</h6> 
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="number" placeholder=1990 @bind-value="yearMin"/> and <input type="number" placeholder=2022 @bind-value="yearMax"/>
        </div>
    </div>
    <div class="row pt-3">
        <h6 class="fw-bold">Genre:</h6>
    </div>
    <div class="row">
        <div class="col-4 m-2 btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btnFantasy" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnFantasy" @onclick="@(() => AddSubject("fantasy"))">Fantasy</label>
            
            <input type="checkbox" class="btn-check" id="btnHistFict" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnHistFict" @onclick="@(() => AddSubject("historical+fiction"))">Historical Fiction</label>
            
            <input type="checkbox" class="btn-check" id="btnHorror" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnHorror" @onclick="@(() => AddSubject("horror"))">Horror</label>
            
            <input type="checkbox" class="btn-check" id="btnHumor" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnHumor" @onclick="@(() => AddSubject("humor"))">Humor</label>
            
            <input type="checkbox" class="btn-check" id="btnLiterature" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnLiterature" @onclick="@(() => AddSubject("literature"))">Literature</label>           
            
        </div>         
    </div>
    <div class="row">
        <div class="col-4 m-2 btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btnMagic" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnMagic" @onclick="@(() => AddSubject("magic"))">Magic</label>

            <input type="checkbox" class="btn-check" id="btnMystDet" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnMystDet" @onclick="@(() => AddSubject("mystery+detective"))">Mystery/Detective</label>

            <input type="checkbox" class="btn-check" id="btnPlays" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnPlays" @onclick="@(() => AddSubject("plays"))">Plays</label>

            <input type="checkbox" class="btn-check" id="btnPoetry" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnPoetry" @onclick="@(() => AddSubject("poetry"))">Poetry</label>

            <input type="checkbox" class="btn-check" id="btnRomance" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnRomance" @onclick="@(() => AddSubject("romance"))">Romance</label>
        </div>
    </div>
    <div class="row">
        <div class="col-4 m-2 btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btnSciFi" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnSciFi" @onclick="@(() => AddSubject("science+fiction"))">Sci-Fi</label>

            <input type="checkbox" class="btn-check" id="btnShortStor" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnShortStor" @onclick="@(() => AddSubject("short+stories"))">Short Stories</label>

            <input type="checkbox" class="btn-check" id="btnThriller" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnThriller" @onclick="@(() => AddSubject("thriller"))">Thriller</label>

            <input type="checkbox" class="btn-check" id="btnYoungAd" autocomplete="off"/>
            <label class="btn btn-outline-primary fw-bold" for="btnYoungAd" @onclick="@(() => AddSubject("young+adult"))">Young Adult</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 pt-3">
            <button class="btn btn-success" @onclick="HandleSubmit">Submit</button>
        </div>
    </div> 
    @if (booksResponse != null && booksResponse.docs != null)
    {
        <div class="row m-3">

            @*"book"" in modal = "item" in fiction search*@
            @foreach (var item in booksResponse.docs)
            {           
                <div class="col-2">
                    <p class="mt-5 fw-bold">@item.title (@item.first_publish_year)</p>
                    <img class="btn" @onclick="() => Modal.Open(item)" src="@($"https://covers.openlibrary.org/b/id/{@item.cover_i}-M.jpg")" />
                </div>
            }
        </div>
    } 
    <div class="d-flex justify-content-center">
        <div class="col-12 m-3">
           <button class="btn btn-secondary m-2" @onclick="PreviousPage">Previous</button><button class="btn btn-secondary m-2"@onclick="NextPage">Next</button>
        </div>        
    </div>
</div>


@code {
    List<string> subjects = new List<string>();
    int? yearMin;
    int? yearMax;
    int currentPage = 1;
    string author;
    string title;
    private BooksAPI_Server.Components.BookModal Modal { get; set; }

    BooksResponse booksResponse;

    //Needs a method to be able to add string to List
    protected override void OnInitialized()
    {
        AddSubject("fiction");
    }

    private void AddSubject(string subject)
    {   
        subjects.Add($"\"{subject}\"");
    }

    private async Task PreviousPage()
    {
        currentPage -= 1;
        await HandleSubmit();
    }

    private async Task NextPage()
    {
        currentPage += 1;
        await HandleSubmit();
    }

    private async Task HandleSubmit()
    {
        //These are the query strings that I'm looking for:
        //subject = ("fiction" + "${subject}" + "${subject}");
        //first_publish_year%3A[2000+TO+2022]
        //author=nora+roberts
        //title=witness
        //language:eng

        string query = "q=";

        if (yearMin != null & yearMax != null)
        {
            query += $"first_publish_year%3A[{yearMin}+TO+{yearMax}]";
        }

        if (title != null)
        {
            title = title.Replace(" ", "+");
            query += $"title%3A{title}";
        }

        string rawSubjects = string.Join("+", subjects).ToString();
        rawSubjects = $"({rawSubjects})";

        query += $"&subject={rawSubjects}";


        if (author != null)
        {            
            author = author.Replace(" ", "+");
            query += $"&author={author}";            
        }

        query += $"&language:eng&sort=new&page={currentPage}";

        booksResponse = await openLibraryService.FictionSearch(query);

        booksResponse.docs = booksResponse.docs.Where(x => x.cover_i != 0).ToList();
    }    

}
